@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import "../../../utils/global.scss";

@mixin activeOrHoveredTextButton {
  cursor: pointer;
  color: #252525;
}

@mixin activeOrHoveredColorfulButton {
  cursor: pointer;
  border-radius: 10px 25px 25px 10px;
  width: 120px;
  transform: scale(1.2, 1.2);

  span {
    opacity: 1;
  }
}

@mixin activeOrHoveredTriangularButton {
  cursor: pointer;
  background: transparent;
  border-radius: 0%;
  border-top: 25px solid transparent;
  border-right: 50px solid #9ba600;
  border-left: 0px solid transparent;
  border-bottom: 25px solid transparent;
  width: 0px;
  height: 0px;
  margin: 20px;
  outline: none;
}

@mixin updateTextarea {
  font-family: "Staatliches", cursive;
  border: none;
  font-size: 100%;
  width: 100%;
  height: auto;
  resize: none;
}

@mixin updateProductPicHoverOrActive {
  cursor: pointer;
  opacity: 1;
  padding: 20px;
  font-size: 200%;
}

@mixin funButton {
  position: fixed;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  z-index: 5;
}

@mixin fullScreenWrapper {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes formExhibit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
}

nav {
  font-family: "Staatliches", cursive;
  font-size: 100%;
  width: 100%;
  height: 90px;
  background: #d87093;
  box-shadow: 0 5px 12px #acacac;
  z-index: 1;

  .title {
    display: inline-block;
    margin: 24px 20px 20px 30px;
    font-size: 200%;
    transition: 0.2s;

    @include respond-to(medium-screens) {
      margin: 24px 20px 30px 30px;
      font-size: 185%;
    }

    @include respond-to(small-screens) {
      margin: 28px 30px;
      font-size: 170%;
    }

    @include respond-to(handhelds) {
      margin: 29px 11px;
      font-size: 155%;
    }

    p {
      margin-block-start: 0;
      margin-block-end: 0;

      span {
        opacity: 1;

        @include respond-to(mini) {
          &::after {
            content: "T. R. Admin";
          }

          &::before {
            display: none;
            content: "";
          }
        }
      }

      span:before {
        content: "The Restaurnat admin";
      }
    }
  }

  .nav-items {
    float: right;

    .nav-item {
      display: inline-block;
      margin: 30px;
      font-size: 150%;
      transition: 0.2s;

      @include respond-to(medium-screens) {
        margin: 30px 20px;
      }

      @include respond-to(small-screens) {
        margin: 30px 15px;
      }

      @include respond-to(handhelds) {
        margin: 30px 10px;
      }

      a {
        color: #000;
        text-decoration: none;

        @include hover-supported() {
          @include activeOrHoveredTextButton();
        }

        &:active {
          @include activeOrHoveredTextButton();
        }
      }

      @include hover-supported() {
        color: #252525;
        cursor: pointer;
      }
    }
  }
}

.stock-wrapper {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - 90px);
  width: 100%;
  margin: 0;
  transition: 0.2s;

  @include respond-to(handhelds) {
    grid-template-columns: 1fr 4fr;
  }

  .shelf {
    z-index: 0;
    font-family: "Staatliches", cursive;
    width: 100%;
    margin-top: 0;
    border-right: 1px solid #acacac;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-areas:
      "about"
      "burgers"
      "snacks"
      "beers";

    .products {
      display: grid;
      justify-content: left;
      background-color: #ececec;
      border-bottom: 1px solid #acacac;
      box-shadow: 5px 0px 12px #acacac;
      transition: 0.2s;

      &#first {
        box-shadow: inset 0 7px 20px -7px #acacac, 5px 0px 12px #acacac;

        @include hover-supported() {
          box-shadow: inset 0 15px 12px -10px #acacac, 2px 7px 15px #acacac;
        }
      }

      @include hover-supported() {
        cursor: pointer;
        box-shadow: 2px 7px 15px #acacac;
        font-size: 98%;
      }

      .product {
        padding-left: 40px;
        margin-block-start: 0;
        margin-block-end: 0;

        @include respond-to(small-screens) {
          padding-left: 20px;
        }

        @include respond-to(handhelds) {
          text-orientation: sideways;
          writing-mode: vertical-lr;
          transform: rotate(180deg) translateX(10%);
          text-align: end;
          padding-left: 0px;
        }

        @include respond-to(mini) {
          font-size: 80%;
        }

        h1 {
          margin-right: 40px;
        }
      }

      #about {
        grid-area: about;
      }

      #burgers {
        grid-area: burgers;
      }

      #snacks {
        grid-area: snacks;
      }

      #beers {
        grid-area: beers;
      }
    }
  }

  .product-list {
    font-family: "Staatliches", cursive;
    font-size: 200%;
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;

    .product {
      text-align: center;
      width: 70vw;
      padding: 8px;
      transition: 0.2s;

      @include hover-supported() {
        cursor: pointer;
        color: #252525;
      }

      &:active {
        @include activeOrHoveredTextButton();
      }

      @include respond-to(mini) {
        font-size: 80%;
      }
    }
  }

  .product-detail {
    font-family: "Staatliches", cursive;
    display: grid;
    width: 100%;
    overflow-y: scroll;
    padding: 20px 5%;
    box-sizing: border-box;

    .product-title {
      font-size: 300%;

      textarea {
        @include updateTextarea();

        &:focus {
          outline: none;
        }
      }
    }

    .product-description {
      font-size: 200%;

      textarea {
        @include updateTextarea();

        &:focus {
          outline: none;
        }
      }
    }

    .product-comp {
      font-size: 200%;

      textarea {
        @include updateTextarea();

        &:focus {
          outline: none;
        }
      }
    }

    .product-pic {
      position: relative;
      height: 50vh;
      width: 100%;
      max-width: 65vw;
      display: grid;
      justify-content: center;
      grid-auto-columns: 1fr;

      input {
        display: none;
      }

      .on-hover {
        position: absolute;
        @include fullScreenWrapper();
        background: #ffffff41;
        color: #000;
        opacity: 0;
        transition: 0.2s;

        p {
          margin-block-start: 0;
          margin-block-end: 0;
        }

        @include hover-supported() {
          @include updateProductPicHoverOrActive();
        }

        &:active {
          @include updateProductPicHoverOrActive();
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
        transition: 0.2s;
      }
    }

    .update-button {
      @include funButton();
      background-color: #96d9ff;
      bottom: 90px;
      right: 0px;
      border: 10px solid #0065a6;

      @include hover-supported() {
        @include activeOrHoveredColorfulButton();
      }

      &:active {
        @include activeOrHoveredColorfulButton();
      }
    }

    .delete-button {
      @include funButton();
      background-color: #ff9696;
      bottom: 180px;
      right: 0px;
      border: 10px solid #a60000;

      @include hover-supported() {
        @include activeOrHoveredColorfulButton();
      }

      &:active {
        @include activeOrHoveredColorfulButton();
      }
    }

    .back-button-at-update {
      @include funButton();
      background-color: #fffd96;
      border: 10px solid #9ba600;
      margin: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      bottom: 180px;
      right: 0px;

      @include hover-supported() {
        @include activeOrHoveredTriangularButton();
      }

      &:active {
        @include activeOrHoveredTriangularButton();
      }
    }

    .back-button {
      @include funButton();
      background-color: #fffd96;
      border: 10px solid #9ba600;
      bottom: 270px;
      right: 0px;

      @include hover-supported() {
        @include activeOrHoveredTriangularButton();
      }

      &:active {
        @include activeOrHoveredTriangularButton;
      }
    }
  }
}

span {
  font-family: "Staatliches", cursive;
  opacity: 0;
  transition: 0.2s;
}

.create-product-button-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 6;

  button {
    @include funButton();
    position: unset;
    z-index: unset;
    background-color: #c0ff96;
    border: 10px solid #06a600;

    @include hover-supported() {
      @include activeOrHoveredColorfulButton();
    }

    &:active {
      @include activeOrHoveredColorfulButton();
    }
  }
}

.form-wrapper {
  @include fullScreenWrapper();
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #00000080;
  animation-name: formExhibit;
  animation-duration: 0.4s;
  animation-direction: normal;
  z-index: 6;

  .form {
    padding: 20px 10px;
    animation-name: formExhibit;
    animation-duration: 0.2s;
    animation-direction: normal;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: #fff;
    box-shadow: -2px 5px 15px #00000080, 2px -5px 15px #00000080;
    transition: 0.2s;

    @include respond-to(medium-screens) {
      left: 22.5%;
      right: 22.5%;
    }

    @include respond-to(small-screens) {
      left: 20%;
      right: 20%;
    }

    @include respond-to(handhelds) {
      left: 10%;
      right: 10%;
    }

    // Delete
    .delete-form {
      h2 {
        word-break: break-word;
        text-align: center;
        margin: 20px;
      }

      .options {
        width: 100%;
        text-align: center;
        padding-top: 8vh;
        height: 30vh;

        .delete {
          display: inline-block;
          position: relative;
          margin: 20px;

          @include hover-supported() {
            @include activeOrHoveredTextButton();
          }

          &:active {
            @include activeOrHoveredTextButton;
          }
        }

        .back {
          text-align: end;
          display: inline-block;
          position: relative;
          margin: 20px;
          transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
          z-index: 5;

          @include hover-supported() {
            @include activeOrHoveredTextButton();
          }

          &:active {
            @include activeOrHoveredTextButton();
          }
        }
      }
    }

    // CreateProductWrapper
    .create-new-product {
      font-family: "Staatliches", cursive;
      display: grid;
      grid-template-areas:
        "about"
        "burger"
        "snack"
        "beer";
      grid-auto-rows: 1fr;
      height: 100%;
      justify-items: center;
      align-items: center;

      .product {
        transition: 0.2s;
        font-size: 200%;

        @include hover-supported() {
          @include activeOrHoveredTextButton();
        }

        &:active {
          @include activeOrHoveredTextButton();
        }

        p {
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }

      #about {
        grid-area: about;
      }

      #burger {
        grid-area: burger;
      }

      #snack {
        grid-area: snack;
      }

      #beer {
        grid-area: beer;
      }

      // Create product form
      form {
        @include fullScreenWrapper();
        animation-name: formExhibit;
        animation-duration: 0.2s;
        animation-direction: normal;
        position: absolute;
        margin: auto;
        background: #fff;

        .hidden {
          visibility: hidden;
          animation-name: formExhibit;
          animation-duration: 0.2s;
          animation-direction: reverse;
        }

        .field {
          margin: 10px;

          &.img-field {
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;

            img {
              max-width: 50px;
              max-height: 40px;
              padding: 20px 7px 0px 12px;
              transition: 0.2s;

              @include hover-supported() {
                cursor: pointer;
              }

              &:active {
                padding: 4px 6px 20px 6px;
              }
            }

            input {
              display: none;
              visibility: hidden;
            }
          }

          input,
          textarea {
            font-family: "Staatliches", cursive;
            padding: 12px 12px 12px 12px;
            width: 100%;
            border: none;
            border-radius: 3px;
            box-sizing: border-box;
            background: none;
            position: relative;
            font-size: 100%;
            z-index: 1;
            outline: 0;
            transition: 0.2s;
            &:valid {
              background: white;
            }
          }

          input:focus,
          textarea:focus {
            padding: 4px 6px 20px 6px;
          }

          label {
            color: #767676;
            width: 100%;
            transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s,
              right 0.2s, left 0.2s;
            position: absolute;
            text-transform: uppercase;
            padding: 7px 7px 6px 12px;
          }

          textarea {
            height: 100%;
            overflow-wrap: break-word;
            resize: none;
          }
        }

        input[type="file"] {
          opacity: 0;
        }

        .description {
          height: 30%;
          overflow-wrap: break-word;
        }

        .submit-button {
          z-index: 2;
          position: fixed;
          bottom: 25%;
          right: 25%;
          border: 5px solid #06a600;
          width: 25px;
          height: 25px;
          border-radius: 50%;

          @include respond-to(medium-screens) {
            right: 22.5%;
          }

          @include respond-to(small-screens) {
            right: 20%;
          }

          @include respond-to(handhelds) {
            right: 10%;
          }
        }
      }

      .back-button-wrapper {
        z-index: 1;
        position: fixed;
        top: 30%;
        right: 25%;
        transition: 0.2s;

        @include respond-to(medium-screens) {
          right: 22.5%;
        }

        @include respond-to(small-screens) {
          right: 20%;
        }

        @include respond-to(handhelds) {
          right: 10%;
        }

        button {
          background-color: #fffd96;
          border: 5px solid #9ba600;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          transition: 0.2s;

          @include hover-supported() {
            background: transparent;
            border-radius: 0%;
            border-top: calc(25px / 2) solid transparent;
            border-right: calc(50px / 2) solid #9ba600;
            border-left: 0px solid transparent;
            border-bottom: calc(25px / 2) solid transparent;
            width: 0px;
            height: 0px;
            margin: 20px;
            outline: none;
            // transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
          }

          &:active {
            @include activeOrHoveredTriangularButton;
            border-top: calc(25px / 2) solid transparent;
            border-right: calc(50px / 2) solid #9ba600;
            border-left: 0px solid transparent;
            border-bottom: calc(25px / 2) solid transparent;
          }
        }
      }

      .submit-button {
        z-index: 2;
        position: fixed;
        bottom: 25%;
        right: 25%;

        button {
          border: 5px solid #06a600;
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }
    }

    .back-wrapper-button-wrapper {
      z-index: 1;
      position: fixed;
      top: 25%;
      right: 25%;
      transition: 0.2s;

      @include respond-to(medium-screens) {
        right: 22.5%;
      }

      @include respond-to(small-screens) {
        right: 20%;
      }

      @include respond-to(handhelds) {
        right: 10%;
      }

      button {
        background-color: #ff9696;
        border: 5px solid #a60000;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
