@import "../../../utils/global.scss";

#showcase-root {
  font-family: "Staatliches", cursive;
  font-size: 800%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "a"
    "b"
    "s"
    "be";
  transition: 0.2s;

  @include respond-to(mini) {
    font-size: 600%;
  }

  .showcase {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 100vh;
    grid-template-areas: "t c c c c";

    .spa-title {
      display: grid;
      grid-area: t;
      text-orientation: sideways;
      writing-mode: vertical-lr;
      transform: rotate(180deg) translateX(10%);
      margin-block-start: 0;
      margin-block-end: 0;
      text-align: center;
      word-break: break-word;

      p {
        margin-top: 3vw;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }

    .spa-content {
      display: grid;
      grid-area: c;
      font-size: 0.12em;
      padding: 3% 3% 0% 3%;

      .owl-item {
        height: 100vh;
        display: grid;

        .carousel-cell {
          display: grid;
          grid-template-areas:
            "p"
            "d";
          grid-auto-rows: 1fr;
          height: 100%;
          margin-right: 10%;

          .product-pic {
            display: grid;
            grid-area: p;
            align-items: end;
            justify-items: center;

            img {
              display: grid;
              width: auto;
              max-height: 100%;
              max-width: 100%;
            }
          }

          .product-description {
            grid-area: d;
            padding-right: 4%;
            transition: 0.2s;

            .product-title {
              font-size: 150%;

              @include respond-to(handhelds) {
                font-size: 160%;
              }

              @include respond-to(mini) {
                font-size: 170%;
              }
            }

            .product-details {
              font-size: 140%;
              text-align: justify;

              @include respond-to(mini) {
                font-size: 150%;
              }
            }

            .product-price {
              font-size: 140%;

              @include respond-to(mini) {
                font-size: 150%;
              }
            }
          }
        }
      }
    }
  }

  #about {
    grid-area: a;
    grid-auto-rows: calc(100vh - 90px);

    #about-title {
      grid-area: t;
    }

    #about-content {
      grid-area: c;
      margin-top: 3vw;
    }
  }

  #burgers {
    grid-area: b;

    #burgers-title {
      grid-area: t;
    }

    #burgers-content {
      grid-area: c;
    }
  }

  #snacks {
    grid-area: s;

    #snacks-title {
      grid-area: t;
    }

    #snacks-content {
      grid-area: c;
    }
  }

  #beers {
    grid-area: be;

    #beers-title {
      grid-area: t;
    }

    #beers-content {
      grid-area: c;
    }
  }
}

#footer-root {
  width: 100vw;
  height: 90px;
  background: #d87093;
  box-shadow: 0 -5px 12px #acacac;
}
