$smallMobileDevice: 400px;
$mobileDevice: 620px;
$smallDevice: 700px;
$mediumDevice: 800px;
$largeDevice: 1024px;

@mixin respond-to($media) {
  @if $media == mini {
    @media only screen and (max-width: $smallMobileDevice) {
      @content;
    }
  } @else if $media == handhelds {
    @media only screen and (max-width: $mobileDevice) {
      @content;
    }
  } @else if $media == small-screens {
    @media only screen and (min-width: $mobileDevice + 1) and (max-width: $mediumDevice - 1) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $smallDevice + 1) and (max-width: $largeDevice - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $largeDevice) {
      @content;
    }
  }
}

@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
