@import "../../../../utils/global.scss";

#menu-wrapper {
  nav {
    display: inline-block;
    font-family: "Staatliches", cursive;
    font-size: 300%;
    width: 100vw;
    height: 90px;
    background: #d87093;
    -webkit-box-shadow: 0 5px 12px #acacac;
    box-shadow: 0 5px 12px #acacac;

    #menu-button {
      background-color: #96d9ff;
      margin: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 10px solid #0065a6;
      outline: none;
      -webkit-transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
      transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);

      @include respond-to(mini) {
        margin: 20px 10px;
      }

      @include hover-supported() {
        background: #96d9ff;
        cursor: pointer;
        border-color: #003557;
        transform: scale(1.2, 1.2);
      }

      &:active {
        border-color: #003557;
        background-color: #fff;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
      }
    }

    p {
      display: inline-block;
      margin-block-end: 0;
      margin-block-start: 0;
      margin-inline-end: 0;
      margin-inline-start: 0;

      a {
        color: #000;
        text-decoration: none;

        @include respond-to(mini) {
          font-size: 75%;
        }
      }
    }
  }

  #flyoutMenu {
    font-family: "Staatliches", cursive;
    font-size: 500%;
    width: 100vw;
    height: 100vh;
    background-color: #ffe600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    overflow: hidden;
    z-index: 10;

    #close-menu-button {
      float: right;
      background-color: #96d9ff;
      margin: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 10px solid #0065a6;
      outline: none;
      transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);

      @include respond-to(mini) {
        margin: 20px 10px;
      }

      @include hover-supported() {
        background: #96d9ff;
        cursor: pointer;
        border-color: #003557;
        transform: scale(1.2, 1.2);
      }

      &:active {
        border-color: #003557;
        background-color: #fff;
      }
    }

    ul {
      list-style: none;
      margin-block-end: 0;
      margin-block-start: 0;
      padding-inline-start: 0;
      margin-top: 8vh;
      height: 92vh;

      a {
        color: #000;
        margin-left: 15px;
        text-decoration: none;
        transition: 0.2s;

        @include hover-supported() {
          color: #252525;
        }

        @include respond-to(mini) {
          font-size: 80%;
        }
      }

      .staff {
        position: absolute;
        bottom: 8vh;
        font-size: 50%;
      }
    }

    &.hide {
      transform: translate3d(-101vw, 0, 0);
    }

    &.show {
      transform: translate3d(0vw, 0, 0);
    }
  }
}
