@import "../../../utils/global.scss";

.login-form-wrapper {
  font-family: "Staatliches", cursive;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;

  .form-header {
    font-size: 160%;
    display: grid;
    align-content: center;
    background-color: #fffd96;
    height: 70px;
    width: 50vw;
    max-width: 480px;
    min-width: 300px;
    box-shadow: 0 -2px 12px #acacac;

    p {
      margin-left: 20px;
    }
  }

  .login-form {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #d87093;
    box-shadow: 0 3px 12px #acacac;
    height: 205px;
    width: 50vw;
    max-width: 480px;
    min-width: 300px;

    form {
      .form-field {
        label {
          display: block;
          margin-top: 10px;
        }

        input {
          width: 40vw;
          max-width: 420px;
          min-width: 250px;
          font-family: "Roboto", sans-serif;
          font-size: 100%;
          padding: 5px 2px;
        }
      }

      .button-wrapper {
        display: grid;
        justify-items: center;
        padding-top: 1rem;

        button {
          font-family: "Staatliches", cursive;
          letter-spacing: 0.1em;
          border-radius: 2px;
          background-color: #003557;
          color: #96d9ff;
          border: none;
          padding: 6px 12px;
          transition: 0.2s;

          @include hover-supported() {
            cursor: pointer;
            color: #003557;
            background-color: #96d9ff;
          }
        }
      }
    }
  }
}
